.map {
  height: 275px;
}

@media (min-width: 576px) {
  .map {
    height: 350px;
  }
}

@media (min-width: 768px) {
  .map {
    height: auto;
  }
}

/* Submit Button */
.btn.contact {
  color: white;
  background-color: black !important;
  border-color: transparent !important;
}

.btn.contact:hover {
  color: white;
  background-color: #198754 !important;
}
