/* NavBar Small */

/* NavBar Large */

@media (min-width: 500px) {
  .nav-btn {
    font-size: large;
  }
}

@media (min-width: 768px) {
  .nav-btn {
    font-size: larger !important;
  }
}

.nav-btn {
  margin-left: 0.3em;
  margin-right: 0.3em;
  background-color: transparent;
  color: black;
  font-weight: bold;
  border-color: transparent;
  border-radius: 8px !important;
  font-size: smaller;
}

.btn:hover {
  color: var(--bs-black);
  background-color: white !important;
  border-color: var(--bs-black);
}

@media (min-width: 768px) {
  header.masthead {
    padding-top: 12rem;
    padding-bottom: 21rem;
  }
}

.navigation-clean.n-1 {
  display: none;
}

@media (min-width: 755px) {
  .navigation-clean.n-1 {
    display: flex;
  }
}

@media (min-width: 755px) {
  .navigation-clean.n-2 {
    display: none;
  }
}

.first-points-h {
  margin-bottom: 0.5em;
}

.first-points-h2 {
  font-style: italic;
  color: var(--bs-dark-text-emphasis);
  font-weight: bold;
  margin-bottom: 0.5em !important;
}

.display-6 {
  font-size: calc(0.8rem + 1.5vw);
  font-weight: 300;
  line-height: 1.2;
}

@media (min-width: 1200px) {
  h2, .h2 {
    font-size: 3rem;
  }
}

h2, .h2 {
  font-size: calc(2rem + 0.9vw);
}

.review-job {
  font-style: italic;
}

.btn.submit {
  text-align: center;
  background-color: #198754;
  color: white;
}