.badge.b1 {
  background-color: orangered !important;
  border-top-right-radius: 3.5px;
}

.btn.service {
  background-color: black;
  border-color: transparent;
}

.btn.service:hover {
  background-color: #198754 !important;
}
